<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="net.sfkao.activityPlanner.ActivityPlannerApplication" />
    <module name="activityPlanner" />
    <option name="PROGRAM_PARAMETERS" value="-Dspring.profiles.active=dev" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>